@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*set font poperties for all pages*/
body,
header {
    font-family: Merriweather, Oswald;
    font-weight: 300;
    color: #002980;
}


a {
    color: inherit; /* anchor tags will inherit the font properties*/
}

/* Logo & header styles */

h1 h3 h4 h5 {
    color: #002980; /*set color for all headings*/
}

/*style the header */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: static;
    width: 100%;
    z-index: 3;
}

/*style the headers unordered list of nav items*/
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

/*set a hover color to appear over nav links in header*/

.header li a:hover,
.header .menu-btn:hover {
    background-color: #d6f185d0;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* style the responsive menu - updates to hamburger menu for smaller screens
    code Reference: https://codepen.io/mutedblues/pen/MmPNPG*/

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}



.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #00008b;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #00008b;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* Style the menu button */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* style hero images and cover text */

#hero-outer {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*style hero image for Index page*/
#hero-image {
    height: 650px;
    width: 100%;
    background: url("../images/hero_image_horse_field.webp") no-repeat center center;
}

/*style hero image for the three sub pages - add opacity*/
#hero-image-child {
    height: 550px;
    width: 100%;
    background: no-repeat center center;
}

.img-opacity {
    opacity: 0.6;
}


/*style the cover text that appears as an overlay on all hero images across the site*/
#cover-text {
    color: #002980;
    font-size: 100%;
    font-family: Merriweather, Oswald;
    letter-spacing: 3px;  
    width: 750px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    left: 0;
    position: absolute;
    background-color: rgba(23, 67, 88, 0.1);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#cover-text h2 {
    text-transform: uppercase; /*transforms the cover text headings to Uppercase*/
}

/*style the order lists that appear in the cover text hero image overlay*/

ol {
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    
}

ol li {

    font-size: 0.8em;
    
}

/*create a flex container for the three linked images on Index page */

#flex-container-images {
    display: flex;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/*create a column container for the three linked images on the index page*/

.image-column {
    width: 33.33%; /*set width of images*/
    position: relative; /*position relative the the flex container*/
    overflow: hidden;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; /*add 3d box sadown affect*/
    margin: 10px;
    cursor: pointer; /*curser transforms to a pointer when hovering over the images*/
}

/*add a pop hover effect that actions when the mouse hovers over the images*/
.pop:hover {
    transform: scale(1.1);
}

/*add an opaque color hover effect that action when the mouse clicks on the image text*/
#image-1-text:hover, 
#image-2-text:hover, 
#image-3-text:hover
 {
    background-color: rgba(0, 0, 0, 0.356);
} 

/*style the text that overlays the three images on the index page*/
#image-1-text, #image-3-text {
    color: #fff;
    font-size: 120%;
    font-family: Merriweather, Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    padding: 20px;
    bottom: 0;
    position: absolute;
}

#image-2-text {
    color: #fff;
    font-size: 120%;
    font-family: Merriweather, Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    padding: 20px;
    left: 0;
    position: absolute;
}

/*style the slideshow gallery for the three sub pages 
Code Ref: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self*/
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* Create and style the Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 15px;
    margin-bottom: 0px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* style the Next & previous buttons that appear on the manual gallery slideshow*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.356);;
}

/* style the gallery slideshow Number text (1/2 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.356);
}



/*Flex Container & info containers for the two information columns on index page - Form & Location Map*/

#flex-container {
    display: flex;
    
}

.info-container {
    font-family: Merriweather, Oswald;
    border-radius: 5px;
    background: url("../images/field_crop.jpg") no-repeat center center;/*set opaque image crop of hero image as the background for the container*/
    margin: 45px;
    width: 50%;
    height: 520px;
    padding: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: relative;
}

/*style the heading for the infomation containers e.g "contact us"*/
.info-container h2 {
    margin: 10px;
}

/*style the form*/

form {
    margin: 0px 10px 10px 10px;
}



input[type="text"],
select,
textarea,
option {
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px 5px 5px 0px;
    resize: none;
    overflow: auto;
}

/* Style the submit button with background color */
input[type="submit"],
input[type="reset"] {
    background-color: #002980d3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*style the container for the google map & youtube videos*/

.canvas {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 10px 30px 30px 25px;
    border: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    scroll-behavior: auto;
    
    
}


/*style the text block for the testimonials */

#article-text {

    display: block;
    margin: 5px 10px 10px 10px;
    padding: 20px 20px 50px 20px;
    /*position: absolute;*/
    line-height: 2;
    font-size:small;
    font-family: Merriweather, Oswald;
    letter-spacing: 1.8px;
    font-style: italic;
    font-weight: 600;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    
    
    
}



/*Footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 20px;
    padding: 2%;
    color: #002980;
}


/* Clearfix (clear floats) Reference - w3schools */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*media queries */

/* Header min screen size 838px - keeps Menu items remaining as text until screen size reduced*/

@media (min-width: 838px) {
    .header li {
        float: right;
    }
    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;

        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*add style for cover text for screens under 950px*/

@media (max-width: 348px) {
    #cover-text,
    #cover-text-pages {
        max-width: 280px !important;
        left: 10px;
        height: auto;
    }
}
@media only screen and (min-width: 350px)and (max-width: 550px) {
    #cover-text,
    #cover-text-pages {
        max-width: 300px !important;
        left: 10px;
        height: auto;
    }
}

@media only screen and (min-width: 550px) and (max-width: 749px) {
    #cover-text,
    #cover-text-pages {
        max-width: 500px !important;
        left: 10px;
        height: auto;
    }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    #cover-text,
    #cover-text-pages {
        max-width: 700px !important;
        left: 25px;
        height: auto;
    }
}

/* style responsive layout for the three images on the index page- makes a one column layout */
@media (max-width: 800px) {
    #flex-container,
    #flex-container-images {
        flex-direction: column;
    }
}

/* Responsive layout for all images - makes a one column layout  */
@media (max-width: 800px) {
    .image-column,
    #hero-image
                     {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}

/*moves text location for the centre image on index page to bottom*/

@media (max-width: 800px) {
    #image-2-text {
        bottom: 0;
        color: #fff;
    }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    #flex-container {
    flex-direction: column;
    }
}

/* Responsive layout info containers - makes a one column layout instead of a two-column layout */

@media (max-width: 800px) {
    .info-container {
        width: 100%;
        margin:0;
        margin-bottom: 20px;
        
    }
}

@media only screen and (min-width: 720px) and (max-width: 800px) {

    .info-container {
        margin-bottom: 20px;
        padding-left: 40px;
        
      
    }

}

/*add media queries for responisiveness for the article text block*/

@media (max-width: 450px) {

    #article-text {

        padding: 0px 20px 40px 20px;
        font-size: x-small;
    
}

}

