@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@300&display=swap");


*{
    margin: 0;
    padding: 0;
    border: none;
}

body,
header {
    font-family: Merriweather, Oswald;
    font-weight: 300;
    color: #002980;
}

/* Logo & header styles */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: static;
    width: 100%;
    z-index: 3;
       
    
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9ecc20;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* hero image and cover text */

#hero-outer {
    display: flex;
    /*flex-direction: row wrap;*/
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url("../images/hero_image_horse.jpg") no-repeat center center;
}

#cover-text {
    color: #002980;
    font-size: 100%;
    font-family: Merriweather, Oswald;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    width: 750px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    left: 0;
    position: absolute;
    background-color:  rgba(23,67,88,0.1);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}