@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
.header {
    font-family: Merriweather, Oswald;
    font-weight: 300;
    color: #002980;
}

a {
    color: inherit;
}

/* Logo & header styles */

h1 h3 {
    color: #002980;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: static;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #d6f185;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon code Ref: https://codepen.io/mutedblues/pen/MmPNPG */

.header .menu-icon {
    cursor: pointer;
    /*display: inline-block;*/

    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #00008b;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #00008b;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu button */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* hero image and cover text */

#hero-outer {
    display: flex;
    /*flex-direction: row wrap;*/
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero_image_horse_field.jpg") no-repeat center center;
}

#hero-image-child {
    height: 550px;
    width: 100%;
    background: no-repeat center center;
}

.img-opacity {
    opacity: 0.6;
}

#cover-text {
    color: #002980;
    font-size: 100%;
    font-family: Merriweather, Oswald;
    letter-spacing: 3px;
    /*text-transform: uppercase;*/
   
    width: 750px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    left: 0;
    position: absolute;
    background-color: rgba(23, 67, 88, 0.1);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#cover-text h4 {

    text-align: center;
}
/*#cover-text-pages {
    color: #002980;
    font-size: 100%;

    font-family: Merriweather, Oswald;
    /*text-transform: uppercase;
    letter-spacing: 3px;
    width: 700px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    left: 0;
    position: absolute;
    background-color: rgba(23, 67, 88, 0.1);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}*/

ol {
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

/*flex container for three images on Index page */

#flex-container-images {
    display: flex;
    /*flex-direction: row wrap;*/
    margin: auto;
    position: relative;
    overflow: hidden;
}

.image-column {
    width: 33.33%;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin: 10px;
    cursor: pointer;
}

.pop:hover {
    transform: scale(1.1);
}

#image-1-text {
    color: #fff;
    font-size: 120%;
    font-family: Merriweather, Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    /*height: 200px;*/
    padding: 20px;
    bottom: 0;
    position: absolute;
}

#image-2-text {
    color: #fff;
    font-size: 120%;
    font-family: Merriweather, Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    /*height: 200px;*/
    padding: 20px;
    left: 0;
    position: absolute;
}

/*slideshow*/
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 15px;
    margin-bottom: 0px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

/*Flex Container & info containers for the two information columns on index page - Form & Location Map*/

#flex-container {
    display: flex;
    /*flex-direction: row wrap;*/
}

.info-container {
    font-family: Merriweather, Oswald;
    border-radius: 5px;
    background: url("../images/field_crop.jpg") no-repeat center center;

    margin: 45px;
    width: 50%;
    height: 520px;
    padding: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: relative;
}

.info-container h2 {
    margin: 10px;
}

/*style the form */

form {
    margin: 0px 10px 10px 10px;
}



input[type="text"],
select,
textarea {
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px 5px 5px 0px;

    resize: none;
    overflow: auto;
}

/* Style the submit button with background color */
input[type="submit"],
input[type="reset"] {
    background-color: #002980;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gmap_canvas {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 10px 30px 30px 25px;
    border: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    scroll-behavior: auto;
    
    
}


/*#testimonial-txt {
    color: #002980;
    font-size: 85%;
    font-family: Merriweather, Oswald;
    width: 40%;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    /*background-color:  rgba(23,67,88,0.1);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: absolute;
    letter-spacing: 2px;
    font-style: italic;
}*/

article {

    display: block;
    margin: 5px 10px 10px 10px;
    padding: 20px 20px 50px 20px;
    /*text-align: justify;*/
    line-height: 2;
    font-size:small;
    font-family: Merriweather, Oswald;
    letter-spacing: 1.8px;
    font-style: italic;
    font-weight: 600;
    
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    
    
    
}



@media (max-width: 450px) {

    article {

        padding: 0px 20px 40px 20px;
        font-size: x-small;
    
}

}





/*Footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 20px;
    padding: 2%;
    color: #002980;
}


/* Clearfix (clear floats) Reference - w3schools */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*media queries */

/* Header min screen size 838px - keeps Menu items remaining as text until screen size reduced*/

@media (min-width: 838px) {
    .header li {
        float: right;
    }
    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;

        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*cover text responsivnes */

/*@media (max-width: 320px) {
    #cover-text,
    #cover-text-pages {
        max-width: 200px !important;
        left: 10px;
        height: auto;
    }
}*/

@media (max-width: 348px) {
    #cover-text,
    #cover-text-pages {
        max-width: 280px !important;
        left: 10px;
        height: auto;
    }
}
@media only screen and (min-width: 350px)and (max-width: 550px) {
    #cover-text,
    #cover-text-pages {
        max-width: 300px !important;
        left: 10px;
        height: auto;
    }
}

@media only screen and (min-width: 550px) and (max-width: 749px) {
    #cover-text,
    #cover-text-pages {
        max-width: 500px !important;
        left: 10px;
        height: auto;
    }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    #cover-text,
    #cover-text-pages {
        max-width: 750px !important;
        left: 25px;
        height: auto;
    }
}

/* Responsive layout for index images- makes a one column layout */
@media (max-width: 800px) {
    #flex-container,
    #flex-container-images {
        flex-direction: column;
    }
}

/* Responsive layout for all images - makes a one column layout  */
@media (max-width: 800px) {
    .image-column,
    /*.image-column-child,*/
    #hero-image,
    #hero-image-child {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}

/*moves text location for the centre image on index pg to bottom*/

@media (max-width: 800px) {
    #image-2-text {
        bottom: 0;
        color: #fff;
    }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    #flex-container {
    flex-direction: column;
    }
}

/* Responsive layout info containers - makes a one column layout instead of a two-column layout */

@media (max-width: 800px) {
    .info-container {
        width: 100%;
        margin:0;
        margin-bottom: 20px;
        
    }
}

@media only screen and (min-width: 720px) and (max-width: 800px) {

    .info-container {
        margin-bottom: 20px;
        padding-left: 40px;
        
      
    }

}

